

.instruction-image-list li {
  display: inline;
}

#instruction-image{
  width: 200px;
  height: 200px;
}


li {
  list-style-type: none;
  font-size: 15px;
}

.cards {
  width: 100%;
}
.cards img{


  border: 1px solid #000;

  position: relative;
  float: left;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);


    /*display: table-cell; */
    /*height: 135px;
    width: 100px; */
    vertical-align: middle;
    align: center;
    padding: 10px;
    /*background: url(../images/card.png) no-repeat;*/
}

.twelve {
  height: 25%;
  width: 25%;
}

.fifteen {
  height: 20%;
  width: 20%;
}

img:hover, img.shaded {
	background-color: #d3d3d3;
  opacity:0.5;
}

#canvas {
	width: 100%;
}
.columns{
  height: 700px;
  border: 1px solid #000;
}

.game{
  display: none;
}
.choose-multi{
  display: none;
}

.requestSetForm{
  background-color: #fff;
  height: 250px;
  width: 500px;
  z-index: 100;
  position: absolute;
}
